<section class="signin">
  <div class="signin__left">
    <div class="signin__left__wrapper">
      <span class="text-5xl font-bold text-green-500">Твой словарь - </span>
      <h2 class="signin__left__text">
        поможет вам изучать английский язык и запоминать новые английские слова.
        Развивайте свой словарный запас, тренируя по несколько десятков слов в
        день с помощью картинок-ассоциаций и примеров использования.
      </h2>
    </div>
  </div>
  <div class="signin__right">
    <app-form></app-form>
  </div>
</section>
